{% extends "client/client/adminBasic.html" %}
{% load staticfiles %}

{% block title %}用户端信息{% endblock %}

{% block nav_client_info %}active{% endblock %}

{% block sub_content2 %}
    <div class="col-lg-8 col-md-7">
      <div class="container">
        <div id="client"></div>
      </div>
    </div>
{% endblock %}

{% block script %}
<script>
SATable.SimpleAjaxInfo({
  id: 'client',
  title: '用户端',
  getMethod: 'GET',
  updateMethod: 'PUT',
  removeMethod: 'DELETE',
  getURL: '{% url 'admin-clients-detail' client.id %}',
  updateURL: '{% url 'admin-clients-detail' client.id %}',
  removeURL: '{% url 'admin-clients-detail' client.id %}',
  removeToURL: '{% url 'client_clients' %}',
  items: [
    { name: 'id', caption: '用户端ID', type: 'Number', readOnly: true },
    { name: 'user', caption: '绑定账户', type: 'Text', typeInfo: { max_length: 150 } },
    'Divide',
    { name: 'creator', caption: '创建者', type: 'Text', readOnly: true },
    { name: 'create_time', caption: '创建时间', type: 'Datetime', readOnly: true },
    { name: 'updater', caption: '更新者', type: 'Text', readOnly: true },
    { name: 'update_time', caption: '更新时间', type: 'Datetime', readOnly: true },
    'Divide',
    { name: 'available', caption: '对外可用', type: 'Boolean' },
    { name: 'deleted', caption: '是否废弃', type: 'Boolean' },
    'Divide',
    { name: 'name', caption: '用户端名称', type: 'Text', typeInfo: { max_length: 128 } },
    { name: 'introduction', caption: '介绍', type: 'Text', typeInfo: { article: true } },
    'Divide',
    { name: 'allow_all', caption: '允许访问所有题库', type: 'Boolean' },
    'Divide',
    { name: 'number_category', caption: '包含题库数量', type: 'Number', readOnly: true },
  ]

})
</script>
{% endblock %}