{% extends "personal/basic.html" %}
{% load staticfiles %}

{% block title %}个人信息{% endblock %}

{% block nav_personal_info %}active{% endblock %}

{% block sub_content2 %}
<div class="col-lg-8 col-md-7">
  <div class="container">
    <div id="personalInfo"></div>
  </div>
  <br>
  <br>
</div>
{% endblock %}

{% block script2 %}
<script>
SATable.SimpleAjaxInfo({
  id: 'personalInfo',
  title: '个人信息',
  getMethod: 'GET',
  updateMethod: 'PATCH',
  getURL: '{% url 'api-personal-info-detail' user_info.user.username %}',
  updateURL: '{% url 'api-personal-info-detail' user_info.user.username %}',
  items: [
    { name: 'user', caption: '用户名', type: 'Text', readOnly: true },
    'Divide',
    { name: 'creator', caption: '账户创建者', type: 'Text', readOnly: true },
    { name: 'create_time', caption: '创建时间', type: 'Datetime', readOnly: true },
    { name: 'updater', caption: '最后更新者', type: 'Text', readOnly: true },
    { name: 'update_time', caption: '最后更新时间', type: 'Datetime', readOnly: true },
    'Divide',
    { name: 'available', caption: '对外可用', type: 'Boolean', readOnly: true },
    { name: 'deleted', caption: '是否废弃', type: 'Boolean', readOnly: true },
    'Divide',
    { name: 'name', caption: '姓名', type: 'Text', typeInfo: { max_length: 150 } },
    { name: 'sex', caption: '性别', type: 'Select', typeInfo: {
      ajax: false,
      choices: [
        { text: '男', value: 'MALE' },
        { text: '女', value: 'FEMALE' },
        { text: '保密', value: 'SECRET' }
      ]
    } },
    { name: 'phone', caption: '电话', type: 'Text', typeInfo: { max_length: 16 } },
    { name: 'email', caption: '邮箱', type: 'Text', typeInfo: { email: true, max_length: 128 } },
  ]
})
</script>
{% endblock %}