{% extends "personal/basic.html" %}
{% load staticfiles %}

{% block title %}修改密码{% endblock %}

{% block nav_personal_password %}active{% endblock %}

{% block sub_content2 %}
<div class="col-lg-8 col-md-7">
  <div class="container">
    <div id="personalPassword"></div>
  </div>
  <br>
  <br>
</div>
{% endblock %}

{% block script2 %}
<script>
SATable.SimpleAjaxInfo({
  id: 'personalPassword',
  title: '修改密码',
  getMethod: 'GET',
  updateMethod: 'PATCH',
  getURL: '{% url 'api-personal-password-detail' user_info.user.username %}',
  updateURL: '{% url 'api-personal-password-detail' user_info.user.username %}',
  items: [
    { name: 'old_password', caption: '旧密码', type: 'Text', typeInfo : { writeOnly: true, password: true, max_length: 128 } },
    'Divide',
    { name: 'new_password', caption: '新密码', type: 'Text', typeInfo : { writeOnly: true, password: true, confirm: true, max_length: 128 } },
  ]
})
</script>
{% endblock %}