{% extends "problem/adminBasic.html" %}
{% load staticfiles %}

{% block title %}创建题元{% endblock %}

{% block nav_meta_problem %}active{% endblock %}

{% block sub_content %}
<div class="container">
  <div class="col-xs-12">
    <div id="metaProblem"></div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
SATable.SimpleAjaxForm({
  id: 'metaProblem',
  method: 'POST',
  toSuccess: '{% url 'problem_meta' %}',
  url: '{% url 'admin-meta-problems-list' %}',
  items: [
    {
      name: 'available',
      caption: '可用',
      type: 'Boolean',
      defaultTrue: true
    },
    {
      name: 'title',
      caption: '标题',
      type: 'Text',
      typeInfo: {
        max_length: 128
      }
    },
    {
      name: 'introduction',
      caption: '简介',
      type: 'Text',
      typeInfo: {
        max_length: 512
      }
    },
    {
      name: 'source',
      caption: '来源',
      type: 'Text',
      typeInfo: {
        max_length: 256
      }
    },
    {
      name: 'author',
      caption: '作者',
      type: 'Text',
      typeInfo: {
        max_length: 64
      }
    }
  ]
})
</script>
{% endblock %}