Server/sdustoj_server/web/static/bootstrap/* linguist-vendored
Server/sdustoj_server/web/static/font_awesome/* linguist-vendored
Server/sdustoj_server/web/static/html5-boilerplate/* linguist-vendored
Server/sdustoj_server/web/static/img/* linguist-vendored
Server/sdustoj_server/web/static/jQuery/* linguist-vendored
Server/sdustoj_server/web/static/js-cookie/* linguist-vendored
Server/sdustoj_server/web/static/markdown/* linguist-vendored
Server/sdustoj_server/web/static/zTree/* linguist-vendored
Install/* linguist-vendored

