{% extends "problem/metaProblem/adminBasic.html" %}
{% load staticfiles %}

{% block title %}描述{% endblock %}

{% block nav_description %}active{% endblock %}

{% block sub_content2 %}
<div class="col-lg-8 col-md-7">
  <div class="container">
    <div id="description"></div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
SATable.SimpleAjaxInfo({
  id: 'description',
  title: '题意描述',
  getMethod: 'GET',
  updateMethod: 'PUT',
  removeMethod: 'DELETE',
  getURL: '{% url 'admin-meta-descriptions-detail' meta_problem.id description.id %}',
  updateURL: '{% url 'admin-meta-descriptions-detail' meta_problem.id description.id %}',
  removeURL: '{% url 'admin-meta-descriptions-detail' meta_problem.id description.id %}',
  removeToURL: '{% url 'problem_meta_description' meta_problem.id %}',
  items: [
    { name: 'id', caption: '题意描述ID', type: 'Number', readOnly: true },
    'Divide',
    { name: 'creator', caption: '创建者', type: 'Text', readOnly: true },
    { name: 'create_time', caption: '创建时间', type: 'Datetime', readOnly: true },
    { name: 'updater', caption: '更新者', type: 'Text', readOnly: true },
    { name: 'update_time', caption: '更新时间', type: 'Datetime', readOnly: true },
    'Divide',
    { name: 'available', caption: '对外可用', type: 'Boolean' },
    { name: 'deleted', caption: '是否废弃', type: 'Boolean' },
    'Divide',
    { name: 'title', caption: '标题', type: 'Text', typeInfo: { max_length: 128 } },
    { name: 'introduction', caption: '简介', type: 'Text', typeInfo: { article: true, max_length: 128 } },
    'Divide',
    { name: 'content', caption: '正文', type: 'Text', typeInfo: { markdown: true } }
  ]
})
</script>
{% endblock %}