{% extends "user/adminBasic.html" %}
{% load staticfiles %}

{% block title %}创建用户{% endblock %}

{% block nav_all %}active{% endblock %}

{% block sub_content %}
<div class="container">
  <div class="col-xs-12">
    <div id="user"></div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
SATable.SimpleAjaxForm({
  id: 'user',
  method: 'POST',
  toSuccess: '{% url 'web-users' %}',
  url: '{% url 'admin-user-list' %}',
  items: [
    {
      name: 'available',
      caption: '可用',
      type: 'Boolean',
      defaultTrue: true
    },
    {
      name: 'username',
      caption: '用户名',
      type: 'Text',
      typeInfo: {
        max_length: 150
      }
    },
    {
      name: 'password',
      caption: '密码',
      type: 'Password',
      typeInfo: {
        max_length: 128,
        confirm: true
      }
    },
    {
      name: 'is_staff',
      caption: '是管理员',
      type: 'Boolean',
      defaultTrue: false
    },
    {
      name: 'name',
      caption: '姓名',
      type: 'Text',
      typeInfo: {
        max_length: 150
      }
    },
    {
      name: 'sex',
      caption: '性别',
      type: 'Select',
      typeInfo: {
        ajax: false,
        choices: [
          { text: '保密', value: 'SECRET', selected: true },
          { text: '男', value: 'MALE' },
          { text: '女', value: 'FEMALE' }
        ]
      }
    },
    {
      name: 'phone',
      caption: '电话',
      type: 'Text',
      typeInfo: {
        max_length: 16
      }
    },
    {
      name: 'email',
      caption: '邮箱',
      type: 'Email',
      typeInfo: {
        max_length: 150
      }
    },
    {
      name: 'github',
      caption: 'Github',
      type: 'Text',
      typeInfo: {
        max_length: 128
      }
    },
    {
      name: 'qq',
      caption: 'QQ',
      type: 'Text',
      typeInfo: {
        max_length: 128
      }
    },
    {
      name: 'weixin',
      caption: '微信',
      type: 'Text',
      typeInfo: {
        max_length: 128
      }
    },
    {
      name: 'github',
      caption: 'Github',
      type: 'Text',
      typeInfo: {
        max_length: 128
      }
    },
    {
      name: 'introduction',
      caption: '个性签名',
      type: 'Text',
      typeInfo: {
        max_length: 256
      }
    },
    {
      name: 'identities',
      caption: '身份',
      type: 'Select',
      typeInfo: {
        ajax: false,
        many: true,
        choices: [
          { text: '超级用户', value: 'ROOT' },
          { text: '用户管理员', value: 'USER_ADMIN' },
          { text: '机构管理员', value: 'ORG_ADMIN' }
        ]
      }
    }
  ]
})
</script>
{% endblock %}