{% extends "user/adminBasic.html" %}
{% load staticfiles %}

{% block title %}用户信息{% endblock %}

{% block nav_all %}active{% endblock %}

{% block nav_basic_info %}active{% endblock %}

{% block sub_content %}
<div class="col-12">
  <div class="container">
    <div id="userInfo"></div>
  </div>
  <br />
  <br />
</div>
{% endblock %}

{% block script %}
<script>
SATable.SimpleAjaxInfo({
  id: 'userInfo',
  title: '管理员信息',
  getMethod: 'GET',
  updateMethod: 'PATCH',
  getURL: '{% url 'admin-user-detail' username %}',
  updateURL: '{% url 'admin-user-detail' username %}',
  items: [
    { name: 'user', caption: '账户名', type: 'Text', readOnly: true },
    { name: 'is_staff', caption: '管理员', type: 'Boolean', readOnly: true },
    'Divide',
    { name: 'creator', caption: '创建者', type: 'Text', readOnly: true },
    { name: 'create_time', caption: '创建时间', type: 'Datetime', readOnly: true },
    { name: 'updater', caption: '更新者', type: 'Text', readOnly: true },
    { name: 'update_time', caption: '更新时间', type: 'Datetime', readOnly: true },
    'Divide',
    { name: 'available', caption: '对外可用', type: 'Boolean' },
    { name: 'deleted', caption: '是否废弃', type: 'Boolean' },
    'Divide',
    { name: 'name', caption: '姓名', type: 'Text', typeInfo: { max_length: 150 } },
    { name: 'sex', caption: '性别', type: 'Select',
      typeInfo: {
        ajax: false,
        choices: [
          { text: '保密', value: 'SECRET', selected: true },
          { text: '男', value: 'MALE' },
          { text: '女', value: 'FEMALE' }
        ]
      }
    },
    { name: 'phone', caption: '电话', type: 'Text', typeInfo: { max_length: 16 } },
    { name: 'email', caption: '邮箱', type: 'Email', typeInfo: { max_length: 150 } },
    { name: 'identities', caption: '身份', type: 'Select',
      typeInfo: {
        ajax: false,
        many: true,
        choices: [
          { text: '无身份', value: 'None' },
          { text: '超级用户', value: 'ROOT' },
          { text: '用户管理员', value: 'USER_ADMIN' },
          { text: '机构管理员', value: 'ORG_ADMIN' }
        ]
      }
    }
  ]
})

SATable.SimpleAjaxInfo({
  id: 'userPassword',
  title: '修改密码',
  getMethod: 'GET',
  updateMethod: 'PATCH',
  getURL: '{% url 'admin-admin-detail' username %}',
  updateURL: '{% url 'admin-admin-detail' username %}',
  items: [
    { name: 'password', caption: '新密码', type: 'Text', typeInfo: { writeOnly: true, password: true, confirm:true, max_length: 128 } }
  ]
})
</script>
{% endblock %}