<!DOCTYPE html>
<html>
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
      <meta name="robots" content="NONE,NOARCHIVE" />
      <title>User Info Instance – Django REST framework</title>

      <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/bootstrap.min.css"/>
      <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/bootstrap-tweaks.css"/>
      <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/prettify.css"/>
      <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/default.css"/>
  </head>
  <body class="">
  <div class="wrapper">
      <div class="navbar navbar-static-top navbar-inverse">
          <div class="container">
              <span>
                  <a class='navbar-brand' rel="nofollow" href='http://www.django-rest-framework.org'>Django REST framework</a>
              </span>
              <ul class="nav navbar-nav pull-right">
                  <li class="navbar-text">korosensei</li>
              </ul>
          </div>
      </div>
      <div class="container">
          <ul class="breadcrumb">
              <li><a href="/api/">Api Root</a></li>
              <li class="active"><a href="/api/user-info/korosensei/">User Info</a></li>
          </ul>
          <!-- Content -->
          <div id="content">
              <form class="button-form" action="/api/user-info/korosensei/" data-method="OPTIONS">
                  <button class="btn btn-primary js-tooltip" title="Make an OPTIONS request on the User Info Instance resource">OPTIONS</button>
              </form>
              <div class="content-main">
                  <div class="page-header">
                      <h1>User Info Instance</h1>
                  </div>
                  <div style="float:left">

                  </div>
                  <div class="request-info" style="clear: both" >
                      <pre class="prettyprint"><b>GET</b> /api/user-info/korosensei/</pre>
                  </div>
                  <div class="response-info">
                      <pre class="prettyprint"><span class="meta nocode"><b>HTTP 405 Method Not Allowed</b>
                          <b>Allow:</b> <span class="lit">PUT, PATCH, OPTIONS</span>
                          <b>Content-Type:</b> <span class="lit">application/json</span>
                          <b>Vary:</b> <span class="lit">Accept</span>
                      </span>{
                          &quot;detail&quot;: &quot;Method \&quot;GET\&quot; not allowed.&quot;
                          }</pre>
                  </div>
              </div>
              <div class="tabbable">
                  <ul class="nav nav-tabs form-switcher">
                      <li>
                          <a name='html-tab' href="#put-object-form" data-toggle="tab">HTML form</a>
                      </li>
                      <li>
                          <a  name='raw-tab' href="#put-generic-content-form" data-toggle="tab">Raw data</a>
                      </li>
                  </ul>
                  <div class="well tab-content">
                      <div class="tab-pane" id="put-object-form">
                          <form action="/api/user-info/korosensei/" data-method="PUT" enctype="multipart/form-data" class="form-horizontal" novalidate>
                              <fieldset>
                                  <div class="form-group ">
                                      <label class="col-sm-2 control-label ">First name</label>
                                      <div class="col-sm-10">
                                          <input name="first_name" class="form-control" type="text"   >
                                      </div>
                                  </div>
                                  <div class="form-group ">
                                      <label class="col-sm-2 control-label ">Last name</label>
                                      <div class="col-sm-10">
                                          <input name="last_name" class="form-control" type="text"   >
                                      </div>
                                  </div>
                                  <div class="form-group ">
                                      <label class="col-sm-2 control-label ">Email address</label>
                                      <div class="col-sm-10">
                                          <input name="email" class="form-control" type="email"   >
                                      </div>
                                  </div>
                                  <div class="form-actions">
                                      <button class="btn btn-primary js-tooltip" title="Make a PUT request on the User Info Instance resource">PUT</button>
                                  </div>
                              </fieldset>
                          </form>
                      </div>
                      <div class="tab-pane" id="put-generic-content-form">
                          <form action="/api/user-info/korosensei/" data-method="PUT" class="form-horizontal">
                              <fieldset>
                                  <div class="form-group">
                                      <label for="id__content_type" class="col-sm-2 control-label">Media type:</label>
                                      <div class="col-sm-10">
                                          <select data-override="content-type" id="id__content_type" name="_content_type" required class="form-control">
                                              <option value="application/json" selected="selected">application/json</option>
                                              <option value="application/x-www-form-urlencoded">application/x-www-form-urlencoded</option>
                                              <option value="multipart/form-data">multipart/form-data</option>
                                          </select>
                                          <span class="help-block"></span>
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label for="id__content" class="col-sm-2 control-label">Content:</label>
                                      <div class="col-sm-10">
                                          <textarea cols="40" data-override="content" id="id__content" name="_content" rows="10" required class="form-control">
                                                {
                                                    &quot;first_name&quot;: &quot;&quot;,
                                                    &quot;last_name&quot;: &quot;&quot;,
                                                    &quot;email&quot;: &quot;&quot;
                                                }
                                          </textarea>
                                          <span class="help-block"></span>
                                      </div>
                                  </div>
                                  <div class="form-actions">
                                      <button class="btn btn-primary js-tooltip" title="Make a PUT request on the User Info Instance resource">PUT</button>
                                      <button data-method="PATCH" class="btn btn-primary js-tooltip" title="Make a PATCH request on the User Info Instance resource">PATCH</button>
                                  </div>
                              </fieldset>
                          </form>
                      </div>
                  </div>
              </div>
          </div><!-- /.content -->
      </div><!-- /.container -->
  </div><!-- ./wrapper -->
  <script>
        window.drf = {
          csrfHeaderName: "X-CSRFTOKEN",
          csrfCookieName: "csrftoken"
        };
  </script>
  <script src="/static/rest_framework/js/jquery-1.12.4.min.js"></script>
  <script src="/static/rest_framework/js/ajax-form.js"></script>
  <script src="/static/rest_framework/js/csrf.js"></script>
  <script src="/static/rest_framework/js/bootstrap.min.js"></script>
  <script src="/static/rest_framework/js/prettify-min.js"></script>
  <script src="/static/rest_framework/js/default.js"></script>
  <script>
        $(document).ready(function() {
          $('form').ajaxForm();
        });
  </script>
  </body>
</html>
