{% extends "personalBasic2.html" %}
{% load staticfiles %}

{% block title %}修改密码{% endblock %}

{% block nav_change_password %}active{% endblock %}

{% block sub_content2 %}
    <div class="col-lg-8 col-md-7">
      <div class="container">
        <form id="userInfoForm" action="{% url 'user-password-detail' user.user.username %}" data-method="PUT" enctype="multipart/form-data" class="form-horizontal">
          <fieldset>
            <div class="form-group row">
              <label class="col-lg-3 col-md-4 control-label">旧密码</label>
              <div class="col-lg-9 col-md-8">
                <input name="old_password" class="form-control" type="password">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-md-4 control-label">新密码</label>
              <div class="col-lg-9 col-md-8">
                <input name="new_password" class="form-control" type="password">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-md-4 control-label ">确认新密码</label>
              <div class="col-lg-9 col-md-8">
                <input name="confirmation" class="form-control" type="password">
              </div>
            </div>
            <br/>
            <div class="input-group-btn">
              <button class="btn btn-primary" title="保存个人信息">保 存</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
{% endblock %}