{% extends "problemMetaBasic.html" %}
{% load staticfiles %}

{% block title %}创建描述{% endblock %}

{% block nav_description %}active{% endblock %}

{% block sub_content2 %}
<div class="container row justify-content-sm-center container col-lg-8 col-md-7">
  <div class="col-12">
    <div id="metaDescription"></div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
SATable.SimpleAjaxForm({
  id: 'metaDescription',
  method: 'POST',
  toSuccess: '{% url 'problem_meta_description' meta_problem.id %}',
  url: '{% url 'admin-meta-descriptions-list' meta_problem.id %}',
  items: [
    {
      name: 'available',
      caption: '可用',
      type: 'Boolean',
      defaultTrue: true
    },
    {
      name: 'title',
      caption: '标题',
      type: 'Text',
      typeInfo: {
        max_length: 128
      }
    },
    {
      name: 'introduction',
      caption: '简介',
      type: 'Text',
      typeInfo: {
        max_length: 512
      }
    },
    {
      name: 'content',
      caption: '正文',
      type: 'Text'
    }
  ]
})
</script>
{% endblock %}