{% extends "problemMetaBasic.html" %}
{% load staticfiles %}

{% block title %}创建题目{% endblock %}

{% block nav_problem %}active{% endblock %}

{% block sub_content2 %}
<div class="container row justify-content-sm-center container col-lg-8 col-md-7">
  <div class="col-12">
    <div id="problem"></div>

  </div>
</div>
{% endblock %}

{% block script %}
<script>
var descriptions = [{ text: '不使用描述', value: null }]
var samples = [{ text: '不使用样例', value: null }]

function getOptionsDescription(ret) {
  var results = ret.results
  for (var i in results) {
    var obj = results[i]
    var text = obj.id + ': ' + obj.title
    var value = obj.id
    descriptions.push({ text: text, value: value })
  }
  return descriptions
}

function getOptionsSample(ret) {
  var results = ret.results
  for (var i in results) {
    var obj = results[i]
    var text = obj.id + ': ' + obj.title
    var value = obj.id
    samples.push({ text: text, value: value })
  }
  return samples
}

SATable.SimpleAjaxForm({
  id: 'problem',
  method: 'POST',
  toSuccess: '{% url 'problem_meta_problem' meta_problem.id %}',
  url: '{% url 'admin-meta-problems-info-list' meta_problem.id %}',
  items: [
    {
      name: 'available',
      caption: '可用',
      type: 'Boolean',
      defaultTrue: true
    },
    {
      name: 'title',
      caption: '标题',
      type: 'Text',
      typeInfo: {
        max_length: 128
      }
    },
    {
      name: 'introduction',
      caption: '简介',
      type: 'Text',
      typeInfo: {
        max_length: 512
      }
    },
    {
      name: 'source',
      caption: '来源',
      type: 'Text',
      typeInfo: {
        max_length: 256
      }
    },
    {
      name: 'author',
      caption: '作者',
      type: 'Text',
      typeInfo: {
        max_length: 64
      }
    },
    {
      name: 'description_id',
      caption: '描述',
      type: 'Select',
      typeInfo: {
        ajax: true,
        ajaxInfo: {
          type: 'GET',
          url: '{% url 'admin-meta-descriptions-list' meta_problem.id %}',
          dataType: 'json'
        },
        responseHandler: SATable.DRF.keepRequest,
        dataGenerator: getOptionsDescription
      }
    },
    {
      name: 'sample_id',
      caption: '样例',
      type: 'Select',
      typeInfo: {
        ajax: true,
        ajaxInfo: {
          type: 'GET',
          url: '{% url 'admin-meta-samples-list' meta_problem.id %}',
          dataType: 'json'
        },
        responseHandler: SATable.DRF.keepRequest,
        dataGenerator: getOptionsSample
      }
    }
  ]
})
</script>
{% endblock %}