{% extends "problemBasic.html" %}
{% load staticfiles %}

{% block nav_meta_problem %}active{% endblock %}

{% block sub_content %}
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-4">
      <div class="container">
        <nav class="nav flex-column nav-pills">
          <a class="nav-link {% block nav_basic_info %}{% endblock %}" href="{% url 'problem_meta_instance' meta_problem.id %}">基本信息</a>
          <a class="nav-link {% block nav_description %}{% endblock %}" href="{% url 'problem_meta_description' meta_problem.id %}">描述集</a>
          <a class="nav-link {% block nav_sample %}{% endblock %}" href="{% url 'problem_meta_sample' meta_problem.id %}">样例集</a>
          <a class="nav-link {% block nav_test %}{% endblock %}" href="{% url 'problem_meta_test' meta_problem.id %}">数据集</a>
          <a class="nav-link {% block nav_problem %}{% endblock %}" href="{% url 'problem_meta_problem' meta_problem.id %}">题目集</a>
        </nav>
      </div>
      <br class="hidden-md-up">
      <br class="hidden-md-up">
    </div>
    <div class="col-1 row">
      <div class="nav-divider hidden-sm-down"></div>
    </div>
    {% block sub_content2 %}{% endblock %}
  </div>
</div>
{% endblock %}
