{% extends "problemMetaProblemBasic.html" %}
{% load staticfiles %}

{% block title %}选用数据集{% endblock %}

{% block nav_problem_test %}active{% endblock %}

{% block sub_content2 %}
<div class="container col-lg-8 col-md-7">
  <div class="col-xs-12">
    <div id="problemTestData"></div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
SATable.DRFTable({
  id: 'problemTestData',
  title: '选用的测试数据',
  url: '{% url 'admin-meta-problem-test-data-list' meta_problem.id problem.id %}',
  search: true,
  filters: [
    { name: 'creator', type: 'text', placeholder: '请输入创建者用户名', caption: '创建者' },
    { name: 'updater', type: 'text', placeholder: '请输入更新者用户名', caption: '更新者' }
  ],
  column: [
    { name: "id", caption: "ID", sort: true, type: "link", key: "id", ordering: 1 },
    { name: "test_data", caption: "选用数据ID", sort: true, type: "link", key: "id", ordering: 0 },
    { name: "create_time", caption: "创建", sort: true, type: "datetime", ordering: 0 },
    { name: "update_time", caption: "更新", sort: true, type: "datetime", ordering: 0 },
    { name: "available", caption: "可用" },
  ],
  columns: [
    { name: 'id', caption: 'ID', sort: true, ordering: 1, type: 'Link', typeInfo: { base_url: '{% url 'problem_meta_problem_test' meta_problem.id problem.id %}', key: 'id' } },
    { name: 'test_data', caption: '选用数据ID', sort: true, type: 'Link', typeInfo: { base_url: '{% url 'problem_meta_test' meta_problem.id %}', key: 'id' } },
    { name: 'update_time', caption: '更新时间', sort: true, type: 'Datetime' },
    { name: "available", caption: "可用", type: 'Boolean' },
  ],
  createURL: '{% url 'problem_meta_problem_test_create' meta_problem.id problem.id %}'
})
</script>
{% endblock %}