{% extends "problemCategoryBasic.html" %}
{% load staticfiles %}

{% block title %}管理题库目录{% endblock %}

{% block nav_dir %}active{% endblock %}

{% block sub_content2 %}
<form id="availableUpdate" action="" data-method="PATCH" enctype="multipart/form-data" class="form-horizontal" hidden="hidden">
  <fieldset>
    <select name="available">
      <option value="true" id="setAvailable">可用</option>
      <option value="false" id="cancelAvailable">不可用</option>
    </select>
  </fieldset>
</form>
<div class="col-lg-8 col-md-7">
  <h4>目录</h4>
  <a class="btn btn-primary" href="javascript:void(0)" data-toggle="collapse" data-target="#formCollapse">添加题目</a>
  <div>
  <br>
  <div id="formCollapse" class="container jumbotron collapse">
    <form id="createRelation" method="post" onsubmit="return false;">
      <fieldset>
        {% csrf_token %}
        <div class="form-group row">
          <label class="col-lg-3 col-md-4 control-label">题目ID</label>
          <div class="col-lg-9 col-md-8">
            <input name="problem_id" class="form-control" type="number">
          </div>
        </div>
        <hr>
        <p class="text-muted"><small>路径将从上向下依次生成</small></p>
        <div class="form-group row">
          <label class="col-lg-3 col-md-4 control-label">路径</label>
          <div class="col-lg-9 col-md-8" id="dirDiv">
            <div class="input-group">
              <input class="form-control dir-input" maxlength="128" type="text">
              <span class="input-group-btn">
                <button class="btn btn-success dir-input-add" type="button"><i class="fa fa-plus"></i> 添加子目录</button>
              </span>
            </div>
          </div>
        </div>
        <br>
        <div class="input-group-btn">
          <button id="btnCreateRelation" type="button" class="btn btn-primary" title="保存">保 存</button>
        </div>
      </fieldset>
    </form>
  </div>
  </div>
  <hr>
  <ul id="dirTree" class="ztree"></ul>
</div>
{% endblock %}

{% block script %}
<script>
$("#btnCreateRelation").click(function() {
  var form = $("#createRelation")
  var data = getFormData(form)

  var dir = []
  $(".dir-input").each(function() {
    var value = $(this).val()
    dir.push(value)
  })

  data["directory"] = dir

  $.ajax({
    traditional: true,
    type: "post",
    url: "{% url 'admin-category-problems-list' cat.id %}",
    data: data,
    dataType: "json",
    success: function(ret) {
      alert("success")
      location.reload()
    },
    error: function(a, b, c) {
      test_output(a)
    }
  })

  return false
})

$(".dir-input-add").click(function() {
  var group = $("<div></div>")
  var input = $("<input />")
  var span = $("<span></span>")
  var button = $("<a></a>")
  var icon = $("<i></i>")
  $(icon).addClass("fa fa-remove")
  $(button).attr("type", "button").attr("href", "javascript:void(0)").addClass("btn btn-danger dir-input-remove").append(icon).append(" 删除此目录")
  $(span).addClass("input-group-btn").append(button)
  $(input).attr("type", "text").attr("maxlength", "128").addClass("form-control dir-input")
  $(group).addClass("input-group").append(input).append(span)
  $("#dirDiv").append("<br>").append(group)

  $(".dir-input-remove").unbind("click").click(function() {
    $(this).parent().parent().prev().remove()
    $(this).parent().parent().remove()
  })
})

var zTreeObj
var rootNode

function setRemoveBtn(treeId, treeNode) {
  return !treeNode.isParent;
}

function setRemoveTitle(treeId, treeNode) {
  return treeNode.isParent ? "删除父节点":(treeNode.available ? "设置为不可用": "设置为可用");
}

function removeNode(treeId, treeNode) {
  var name = $(treeNode.name).html()
  var rid = treeNode.rid
  var url = "{% url 'admin-category-problems-list' cat.id %}" + rid + "/"
  $("#availableUpdate").attr("action", url)
  if (treeNode.available) {
    $("#setAvailable").removeAttr("selected")
    $("#cancelAvailable").attr("selected", "selected")
    $("#availableUpdate").submit()
    name = "<label class=\"text-danger\">"+name+"</label>"
    treeNode.available = false
    treeNode.name = name
    zTreeObj.updateNode(treeNode)
  } else {
    $("#cancelAvailable").removeAttr("selected")
    $("#setAvailable").attr("selected", "selected")
    $("#availableUpdate").submit()
    name = "<label>"+name+"</label>"
    treeNode.available = true
    treeNode.name = name
    zTreeObj.updateNode(treeNode)
  }
  return false;
}

  var setting = {
    view: {
      nameIsHTML: true
	},
	callback: {
	  beforeRemove: removeNode
	},
    edit: {
      enable: true,
      showRenameBtn: false,
      showRemoveBtn: setRemoveBtn,
      removeTitle: setRemoveTitle
    }
  }
  var zNodes = [
    {name:"root", children:[]}
  ]

  function updateDir(url) {
    $.ajax({
      type: "get",
      url: url,
      async: true,
      dataType: "json",
      success: function(ret) {
        for (var i in ret.results) {
          info = ret.results[i]
          var did = info.id
          var dirs = info.directory

          var pid = info.problem.id
          var pTitle = info.problem.title

          var curNode = rootNode
          for (var i in dirs) {
            var dir = dirs[i]
            var node = zTreeObj.getNodeByParam("name", dir, curNode)

            if (node == null) {
              node = zTreeObj.addNodes(parentNode=curNode, newNodes=[{name: dir}], isSilent=true)[0]
            }

            curNode = node
          }

          strAdd = "(" + did + ") 题目" + pid + ": " + pTitle
          if (!info.available) {
            strAdd = "<label class=\"text-danger\">" + strAdd + "</label>"
          } else {
            strAdd = "<label>" + strAdd + "</label>"
          }
          zTreeObj.addNodes(parentNode=curNode, newNodes={ name: strAdd, available: info.available, rid: did }, isSilent=true)
        }

        var next = ret.next
        if (next != null) {
          updateDir(next)
        }
      }
    })
  }

  $(document).ready(function(){
    zTreeObj = $.fn.zTree.init($("#dirTree"), setting, zNodes);
    rootNode = zTreeObj.getNodeByParam("name", "root")
    updateDir("{% url 'admin-category-problems-list' cat.id %}")
  });
</script>
{% endblock %}
