{% extends "problemMetaProblemBasic.html" %}
{% load staticfiles %}

{% block title %}创建特殊评测{% endblock %}

{% block nav_problem_special %}active{% endblock %}

{% block sub_content2 %}
<div class="container row justify-content-sm-center container col-lg-8 col-md-7">
  <div class="col-12">
    <div id="spj"></div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
function getOptions(ret) {
  var results = ret.results
  var data = []
  for (var i in results) {
    var obj = results[i]
    var text = obj.id + ': ' + obj.name + ' (' + obj.judge_id + ')'
    var value = obj.id
    data.push({ text: text, value: value })
  }
  return data
}

SATable.SimpleAjaxForm({
  id: 'spj',
  method: 'POST',
  toSuccess: '{% url 'problem_meta_problem_spj' meta_problem.id problem.id %}',
  url: '{% url 'admin-meta-problem-special-judge-list' meta_problem.id problem.id %}',
  items: [
    {
      name: 'available',
      caption: '可用',
      type: 'Boolean',
      defaultTrue: true
    },
    {
      name: 'title',
      caption: '标题',
      type: 'Text',
      typeInfo: {
        max_length: 128
      }
    },
    {
      name: 'introduction',
      caption: '简介',
      type: 'Text',
      typeInfo: {
        max_length: 512
      }
    },
    {
      name: 'environment',
      caption: '编程环境',
      type: 'Select',
      typeInfo: {
        ajax: true,
        ajaxInfo: {
          type: 'GET',
          url: '{% url 'admin-environments-list' %}',
          dataType: 'json'
        },
        responseHandler: SATable.DRF.keepRequest,
        dataGenerator: getOptions
      }
    },
    {
      name: 'code',
      caption: '代码',
      type: 'Text'
    }
  ]
})

</script>
{% endblock %}