{% extends "problemMetaProblemBasic.html" %}
{% load staticfiles %}

{% block title %}特殊评测集{% endblock %}

{% block nav_problem_special %}active{% endblock %}

{% block sub_content2 %}
<div class="container col-lg-8 col-md-7">
  <h4 class="text-muted">特殊评测规则</h4>
  <p class="text-muted"><small>一道题目只可以使用一份特殊评测，但可以存有多份特殊评测。</small></p>
  <p class="text-muted"><small>一道题目下存有的特殊评测中，设置为可用的特殊评测中ID最大者即视为此题目的特殊评测。</small></p>
  <p class="text-muted"><small>若没有特殊评测或均为不可用状态，则视为该题目没有特殊评测代码，使用正常流程进行评测。</small></p>
  <hr>
  <div class="col-xs-12">
    <div id="problem"></div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
drf_sat_adapter.init_sat_table({
  id: "problem",
  url: "{% url 'admin-meta-problem-special-judge-list' meta_problem.id problem.id %}",
  create_url: "{% url 'problem_meta_problem_spj_create' meta_problem.id problem.id %}",
  title: "特殊评测集",
  base_url: "{% url 'problem_meta_problem_spj' meta_problem.id problem.id %}",
  column: [
    { name: "id", caption: "ID", sort: true, type: "link", key: "id", ordering: 1 },
    { name: "title", caption: "标题", sort: true, type: "link", key: "id", ordering: 0 },
    { name: "introduction", caption: "简介", sort: true, ordering: 0 },
    { name: "create_time", caption: "创建", sort: true, type: "datetime", ordering: 0 },
    { name: "update_time", caption: "更新", sort: true, type: "datetime", ordering: 0 },
    { name: "available", caption: "可用", ordering: 0 },
  ],
  filter: [
    { name: "creator", type: "text", placeholder: "用户名", caption: "创建者" },
    { name: "updater", type: "text", placeholder: "用户名", caption: "更新者" },
  ]
})
</script>
{% endblock %}