{% extends "problemMetaBasic.html" %}
{% load staticfiles %}

{% block title %}题目集{% endblock %}

{% block nav_problem %}active{% endblock %}

{% block sub_content2 %}
<div class="container col-lg-8 col-md-7">
  <div class="col-xs-12">
    <div id="problem"></div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
drf_sat_adapter.init_sat_table({
  id: "problem",
  url: "{% url 'admin-meta-problems-info-list' meta_problem.id %}",
  create_url: "{% url 'problem_meta_problem_create' meta_problem.id %}",
  title: "题目集",
  base_url: "{% url 'problem_meta_problem' meta_problem.id %}",
  column: [
    { name: "id", caption: "ID", sort: true, type: "link", key: "id", ordering: 1 },
    { name: "title", caption: "标题", sort: true, type: "link", key: "id", ordering: 0 },
    { name: "introduction", caption: "简介", sort: true, ordering: 0 },
    { name: "create_time", caption: "创建", sort: true, type: "datetime", ordering: 0 },
    { name: "update_time", caption: "更新", sort: true, type: "datetime", ordering: 0 },
    { name: "available", caption: "可用", ordering: 0 },
  ],
  filter: [
    { name: "creator", type: "text", placeholder: "用户名", caption: "创建者" },
    { name: "updater", type: "text", placeholder: "用户名", caption: "更新者" },
  ]
})

</script>
{% endblock %}