{% extends "problemMetaBasic.html" %}
{% load staticfiles %}

{% block title %}创建题目{% endblock %}

{% block nav_problem %}active{% endblock %}

{% block sub_content2 %}
<div class="container row justify-content-sm-center container col-lg-8 col-md-7">
  <div class="col-12">
    <form id="descriptionCreateForm" method="POST" onsubmit="iSubmit();return false;">
      <fieldset>
        {% csrf_token %}
        <div class="form-group row">
          <label class="col-lg-3 col-md-4 control-label">对外可用</label>
          <div class="col-lg-9 col-md-8">
            <select name="available" class="form-control" datatype="number">
              <option value="true" selected="selected">可用</option>
              <option value="false">不可用</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-3 col-md-4 control-label">标题</label>
          <div class="col-lg-9 col-md-8">
            <input maxlength="128" name="title" class="form-control" type="text">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-3 col-md-4 control-label">简介</label>
          <div class="col-lg-9 col-md-8">
            <textarea maxlength="512" name="introduction" class="form-control"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-3 col-md-4 control-label">来源</label>
          <div class="col-lg-9 col-md-8">
            <input maxlength="256" name="source" class="form-control" type="text">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-3 col-md-4 control-label">作者</label>
          <div class="col-lg-9 col-md-8">
            <input maxlength="64" name="author" class="form-control" type="text">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-3 col-md-4 control-label">描述</label>
          <div class="col-lg-9 col-md-8">
            <select name="description_id" class="form-control" id="descriptions">
              <option value="" selected="selected">不使用描述</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-3 col-md-4 control-label">样例</label>
          <div class="col-lg-9 col-md-8">
            <select name="sample_id" class="form-control" id="samples">
              <option value="" selected="selected">不使用样例</option>
            </select>
          </div>
        </div>
        <br/>
        <div class="input-group-btn">
          <button class="btn btn-primary" title="保存">保 存</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
function iSubmit() {
  var form = $("#descriptionCreateForm")
  var data = getFormData(form)

  $.ajax({
    type: "POST",
    async: false,
    url: "{% url 'admin-meta-problems-info-list' meta_problem.id %}",
    data: data,
    dataType: 'json',
    success: function(ret) {
      url = "{% url 'problem_meta_problem' meta_problem.id %}"
      location.href = url
    },
    error: function(a, b, c) {
      test_output(a)
    }
  })

  return false
}

function append(select_id, url) {
  ret = $.ajax({
    type: "GET",
    url: url,
    dataType: "json",
    success: function(ret) {
      for(var i in ret.results) {
        var it = ret.results[i]
        var option = $("<option></option>")
        $(option).val(it.id)
        $(option).text(it.id + ": " + it.title)
        $("#" + select_id).append(option)
      }
      var next = ret.next
      if (next != null) {
        append(select_id, next)
      }
    }
  })
}

$(document).ready(function() {
  append("descriptions", "{% url 'admin-meta-descriptions-list' meta_problem.id %}")
  append("samples", "{% url 'admin-meta-samples-list' meta_problem.id %}")
})
</script>
{% endblock %}