{% extends "adminBasic.html" %}
{% load staticfiles %}

{% block title %}提交记录{% endblock %}

{% block sub_content %}
<div class="container">
  <div class="col-xs-12">
    <div id="problem"></div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
drf_sat_adapter.init_sat_table({
  id: "problem",
  url: "{% url 'admin-submissions-list' %}",
  title: "提交记录",
  base_url: "{% url 'problem_submission' %}",
  column: [
    { name: "id", caption: "ID", sort: true, type: "link", key: "id", ordering: -1 },
    { name: "problem_id", caption: "题目", sort: true, ordering: 0 },
    { name: "environment", caption: "语言", sort: true, ordering: 0 },
    { name: "status_word", caption: "状态", sort: true, ordering: 0 },
    { name: "time", caption: "时间", sort: true, ordering: 0 },
    { name: "memory", caption: "内存", sort: true, ordering: 0 },
    { name: "length", caption: "长度", sort: true, ordering: 0 },
    { name: "submit_time", caption: "提交时间", sort: true, type: "datetime", ordering: 0 },
    { name: "judge", caption: "评测机", sort: true, ordering: 0 },
  ],
  filter: [
    { name: "creator", type: "text", placeholder: "用户名", caption: "创建者" },
    { name: "updater", type: "text", placeholder: "用户名", caption: "更新者" },
  ]
})

</script>
{% endblock %}