{% extends "personal/infoBasic.html" %}
{% load staticfiles %}

{% block title %}个人信息{% endblock %}

{% block nav_personal_info %}active{% endblock %}

{% block sub_content2 %}
    <div class="col-lg-8 col-md-7">
      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-4">
            <label for="user-username">用户名：</label>
          </div>
          <div class="col-lg-10 col-md-8">
            <p id="user-username">{{ user.user.username }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-2 col-md-4">
            <label for="user-last-name">姓：</label>
          </div>
          <div class="col-lg-10 col-md-8">
            <p id="user-last-name">{{ user.user.last_name }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-2 col-md-4">
            <label for="user-first-name">名：</label>
          </div>
          <div class="col-lg-10 col-md-8">
            <p id="user-first-name">{{ user.user.first_name }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-2 col-md-4">
            <label for="user-email">邮箱：</label>
          </div>
          <div class="col-lg-10 col-md-8">
            <p id="user-email">{{ user.user.email }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-2 col-md-4">
            <label for="user-first-groups">权限：</label>
          </div>
          <div class="col-lg-10 col-md-8 jumbotron" style="padding-top: 15px; padding-bottom: 15px;" id="user-first-groups">
            {% for group in user.group %}
              {% if group == 'Root' %}
                <p><small>超级用户权限</small></p>
              {% endif %}
              {% if group == 'Root' or group == 'ProblemAdmin' %}
                <p><small>题元管理权限</small></p>
              {% endif %}
              {% if group == 'Root' or group == 'CategoryAdmin' or group == 'ProblemAdmin' %}
                <p><small>题库及题目管理权限</small></p>
              {% endif %}
              {% if group == 'Root' or group == 'UserAdmin' %}
                <p><small>管理员管理权限</small></p>
              {% endif %}
              {% if group == 'Root' or group == 'JudgeAdmin' %}
                <p><small>评测管理相关权限</small></p>
              {% endif %}
              {% if group == 'Root' or group == 'ClientAdmin' %}
                <p><small>用户端管理权限</small></p>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
{% endblock %}