{% extends "adminBasic.html" %}
{% load staticfiles %}

{% block title %}编辑管理员账号{% endblock %}

{% block sub_content %}
<div class="container row justify-content-sm-center">
  <div class="col-lg-8 col-md-10">
    <h3>基本信息</h3>
    <form id="userInfo" action="{% url 'admin-users-detail' u_info.username %}" data-method="PATCH" enctype="multipart/form-data" class="form-horizontal">
      <fieldset>
        {% csrf_token %}
        <div class="form-group row">
          <label class="col-lg-3 col-md-4 control-label">可用</label>
          <div class="col-lg-9 col-md-8">
            <select name="is_active" class="form-control">
              {% if u_info.is_active %}
              <option value="true" selected="selected">可用</option>
              <option value="false">不可用</option>
              {% else %}
              <option value="true">可用</option>
              <option value="false" selected="selected">不可用</option>
              {% endif %}
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-3 col-md-4 control-label">账户名</label>
          <div class="col-lg-9 col-md-8">
            <input maxlength="150" name="username" class="form-control" type="text" value="{{ u_info.username }}">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-3 col-md-4 control-label">权限</label>
          <div class="col-lg-9 col-md-8">
            <select name="groups" class="form-control" multiple="multiple">
              {% if 'Root' in user.group %}
              <option value="Root" selected="selected">超级用户权限</option>
              {% else %}
              <option value="Root">超级用户权限</option>
              {% endif %}
              
              {% if 'ProblemAdmin' in user.group %}
              <option value="ProblemAdmin" selected="selected">管理题目权限</option>
              {% else %}
              <option value="ProblemAdmin">管理题目权限</option>
              {% endif %}
              
              {% if 'CategoryAdmin' in user.group %}
              <option value="CategoryAdmin" selected="selected">管理题库权限</option>
              {% else %}
              <option value="CategoryAdmin">管理题库权限</option>
              {% endif %}
              
              {% if 'JudgeAdmin' in user.group %}
              <option value="JudgeAdmin" selected="selected">管理评测机权限</option>
              {% else %}
              <option value="JudgeAdmin">管理评测机权限</option>
              {% endif %}
              
              {% if 'ClientAdmin' in user.group %}
              <option value="ClientAdmin" selected="selected">管理用户端权限</option>
              {% else %}
              <option value="ClientAdmin">管理用户端权限</option>
              {% endif %}
              
              {% if 'UserAdmin' in user.group %}
              <option value="UserAdmin" selected="selected">管理管理员权限</option>
              {% else %}
              <option value="UserAdmin">管理管理员权限</option>
              {% endif %}
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-3 col-md-4 control-label">姓</label>
          <div class="col-lg-9 col-md-8">
            <input maxlength="30" name="last_name" class="form-control" type="text" value="{% if u_info.last_name %}{{ u_info.last_name }}{% endif %}">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-3 col-md-4 control-label">名</label>
          <div class="col-lg-9 col-md-8">
            <input maxlength="30" name="first_name" class="form-control" type="text" value="{% if u_info.first_name %}{{ u_info.first_name }}{% endif %}">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-3 col-md-4 control-label">邮箱</label>
          <div class="col-lg-9 col-md-8">
            <input name="email" class="form-control" type="email" value="{% if u_info.email %}{{ u_info.email }}{% endif %}">
          </div>
        </div>
        <br/>
        <div class="input-group-btn">
          <button class="btn btn-primary" title="保存信息">保 存</button>
        </div>
      </fieldset>
    </form>
    <hr>
    <h3>修改密码</h3>
    <form id="userPwd" action="{% url 'admin-users-detail' u_info.username %}" data-method="PATCH" enctype="multipart/form-data" class="form-horizontal">
      <fieldset>
        {% csrf_token %}
        <div class="form-group row">
          <label class="col-lg-3 col-md-4 control-label">新密码</label>
          <div class="col-lg-9 col-md-8">
            <input id="password" maxlength="128" name="password" class="form-control" type="password">
          </div>
        </div>
        <br/>
        <div class="input-group-btn">
          <button class="btn btn-primary" title="保存信息">保 存</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
function login() {
  var pwd = $("#password").val()
  var cfm = $("#confirmation").val()
  if (pwd != cfm) {
    alert("两次密码输入不一致")
  } else {
    var form = $("#userCreate")
    var data = getFormData(form)

    $.ajax({
      type: "POST",
      async: false,
      url: "{% url 'admin-users-list' %}",
      data: data,
      dataType: 'json',
      success: function(ret) {
        url = "{% url 'users' %}instance/" + ret.id
        location.href = url
      },
      error: function(a, b, c) {
        test_output(a)
      }
    })
  }

  return false
}
</script>
{% endblock %}