{% extends "problem/metaProblem/problem/adminBasic.html" %}
{% load staticfiles %}

{% block title %}编程限制{% endblock %}

{% block nav_problem_limits %}active{% endblock %}

{% block sub_content2 %}
<div class="container row justify-content-sm-center container col-lg-8 col-md-7">
  <div class="col-12">
    <div id="limit"></div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
SATable.SimpleAjaxInfo({
  id: 'limit',
  title: '编程限制',
  getMethod: 'GET',
  updateMethod: 'PUT',
  removeMethod: 'DELETE',
  getURL: '{% url 'admin-meta-problem-limits-detail' meta_problem.id problem.id limit.id %}',
  updateURL: '{% url 'admin-meta-problem-limits-detail' meta_problem.id problem.id limit.id %}',
  removeURL: '{% url 'admin-meta-problem-limits-detail' meta_problem.id problem.id limit.id %}',
  removeToURL: '{% url 'problem_meta_problem_limits' meta_problem.id problem.id %}',
  items: [
    { name: 'id', caption: '编程限制ID', type: 'Number', readOnly: true },
    'Divide',
    { name: 'creator', caption: '创建者', type: 'Text', readOnly: true },
    { name: 'create_time', caption: '创建时间', type: 'Datetime', readOnly: true },
    { name: 'updater', caption: '更新者', type: 'Text', readOnly: true },
    { name: 'update_time', caption: '更新时间', type: 'Datetime', readOnly: true },
    'Divide',
    { name: 'available', caption: '对外可用', type: 'Boolean' },
    { name: 'deleted', caption: '是否废弃', type: 'Boolean' },
    'Divide',
    { name: 'env_name', caption: '编程环境', type: 'Text', readOnly: true },
    'Divide',
    { name: 'time_limit', caption: '时间限制/ms', type: 'Number' },
    { name: 'memory_limit', caption: '时间限制/kb', type: 'Number' },
    { name: 'length_limit', caption: '时间限制/b', type: 'Number' },
  ]

})
</script>
{% endblock %}