{% extends "problem/metaProblem/problem/adminBasic.html" %}
{% load staticfiles %}

{% block title %}禁用单词集{% endblock %}

{% block nav_problem_iw %}active{% endblock %}

{% block sub_content2 %}
<div class="container col-lg-8 col-md-7">
  <div class="col-xs-12">
    <div id="iw"></div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
SATable.DRFTable({
  id: 'iw',
  title: '禁用单词',
  url: "{% url 'admin-meta-problem-invalid-words-list' meta_problem.id problem.id %}",
  search: true,
  filters: [
    { name: 'creator', type: 'text', placeholder: '请输入创建者用户名', caption: '创建者' },
    { name: 'updater', type: 'text', placeholder: '请输入更新者用户名', caption: '更新者' }
  ],
  columns: [
    { name: 'id', caption: 'ID', sort: true, ordering: 1, type: 'Link', typeInfo: { base_url: '{% url 'problem_meta_problem_iw' meta_problem.id problem.id %}', key: 'id' } },
    { name: 'word', caption: '单词', sort: true, type: 'Link', typeInfo: { base_url: '{% url 'problem_meta_problem_iw' meta_problem.id problem.id %}', key: 'id' } },
    { name: 'update_time', caption: '更新时间', sort: true, type: 'Datetime' },
    { name: "available", caption: "可用", type: 'Boolean' },
  ],
  createURL: '{% url 'problem_meta_problem_iw_create' meta_problem.id problem.id %}'
})
</script>
{% endblock %}