{% extends "user/adminBasic.html" %}
{% load staticfiles %}

{% block title %}所有管理员{% endblock %}

{% block nav_site %}active{% endblock %}

{% block sub_content %}
<div class="container">
  <div class="col-xs-12">
    <div id="allUser"></div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
SATable.DRFTable({
  id: 'allUser',
  title: '所有管理员',
  url: "{% url 'admin-admin-list' %}",
  search: true,
  filters: [
    { name: 'creator', type: 'text', placeholder: '请输入创建者用户名', caption: '创建者' },
    { name: 'updater', type: 'text', placeholder: '请输入更新者用户名', caption: '更新者' }
  ],
  columns: [
    { name: 'name', caption: '姓名', sort: true, type: 'Link', typeInfo: { base_url: '{% url 'web-admins' %}info/', key: 'username' } },
    { name: 'username', caption: '用户名', sort: true, type: 'Link', typeInfo: { base_url: '{% url 'web-admins' %}info/', key: 'username' } },
    { name: 'sex', caption: '性别', type: 'Text' },
    { name: 'create_time', caption: '注册时间', sort: true, type: 'Datetime' },
    { name: 'last_login', caption: '最后登录', sort: true, type: 'Datetime' },
    { name: "available", caption: "可用", type: 'Boolean' },
  ],
  createURL: '{% url 'web-admins-create' %}'
})

</script>
{% endblock %}