{% extends "problem/category/adminBasic.html" %}
{% load staticfiles %}

{% block title %}管理题库目录{% endblock %}

{% block nav_basic_info %}active{% endblock %}

{% block sub_content2 %}
<div class="col-lg-8 col-md-7">
  <div class="container">
    <div id="category"></div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
SATable.SimpleAjaxInfo({
  id: 'category',
  title: '题库信息',
  getMethod: 'GET',
  updateMethod: 'PUT',
  removeMethod: 'DELETE',
  getURL: '{% url 'admin-categories-detail' cat.id %}',
  updateURL: '{% url 'admin-categories-detail' cat.id %}',
  removeURL: '{% url 'admin-categories-detail' cat.id %}',
  removeToURL: '{% url 'problem_category' %}',
  items: [
    { name: 'id', caption: '题库ID', type: 'Number', readOnly: true },
    'Divide',
    { name: 'creator', caption: '创建者', type: 'Text', readOnly: true },
    { name: 'create_time', caption: '创建时间', type: 'Datetime', readOnly: true },
    { name: 'updater', caption: '更新者', type: 'Text', readOnly: true },
    { name: 'update_time', caption: '更新时间', type: 'Datetime', readOnly: true },
    'Divide',
    { name: 'available', caption: '对外可用', type: 'Boolean' },
    { name: 'deleted', caption: '是否废弃', type: 'Boolean' },
    'Divide',
    { name: 'title', caption: '标题', type: 'Text', typeInfo: { max_length: 128 } },
    { name: 'introduction', caption: '简介', type: 'Text', typeInfo: { article: true, max_length: 128 } },
    'Divide',
    { name: 'source', caption: '来源', type: 'Text', typeInfo: { max_length: 256 } },
    { name: 'author', caption: '作者', type: 'Text', typeInfo: { max_length: 64 } },
    'Divide',
    { name: 'number_problem', caption: '题目数量', type: 'Number', readOnly: true }
  ]

})
</script>
{% endblock %}