{% extends "user/adminBasic.html" %}
{% load staticfiles %}

{% block title %}管理所有用户{% endblock %}

{% block nav_all_user %}active{% endblock %}

{% block sub_content %}
<div class="container">
  <div class="col-xs-12">
    <div id="all-user"></div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
SATable.DRFTable({
  id: 'all-user',
  title: '所有用户',
  url: "{% url 'admin-user-list' %}",
  search: true,
  columns: [
    { name: 'username', caption: '用户名', sort: true, ordering: 1, type: 'Link', typeInfo: { base_url: '{% url 'web-user-all' %}info/', key: 'username' } },
    { name: 'name', caption: '姓名', sort: true, type: 'Link', typeInfo: { base_url: '{% url 'web-user-all' %}info/', key: 'username' } },
    { name: "is_staff", caption: "全局管理员", type: 'Boolean' },
    { name: 'create_time', caption: '创建时间', sort: true, type: 'Datetime' },
    { name: 'last_login', caption: '最后登录', sort: true, type: 'Datetime' },
    { name: "available", caption: "可用", type: 'Boolean' },
  ],
  createURL: "{% url 'web-user-create' %}"
})
</script>
{% endblock %}
