{% extends "judge/adminBasic.html" %}
{% load staticfiles %}

{% block title %}编程环境详情 - {{ eid }}{% endblock %}

{% block nav_env %}active{% endblock %}

{% block sub_content %}
<div class="container">
  <div class="col-xs-12">
    <div class="container">
      <div id="env"></div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
SATable.SimpleAjaxInfo({
  id: 'env',
  title: '编程环境',
  getMethod: 'GET',
  updateMethod: 'PUT',
  removeMethod: 'DELETE',
  getURL: '{% url 'admin-environments-detail' env.id %}',
  updateURL: '{% url 'admin-environments-detail' env.id %}',
  removeURL: '{% url 'admin-environments-detail' env.id %}',
  removeToURL: '{% url 'web-environments' %}',
  items: [
    { name: 'id', caption: '题元ID', type: 'Number', readOnly: true },
    'Divide',
    { name: 'creator', caption: '创建者', type: 'Text', readOnly: true },
    { name: 'create_time', caption: '创建时间', type: 'Datetime', readOnly: true },
    { name: 'updater', caption: '更新者', type: 'Text', readOnly: true },
    { name: 'update_time', caption: '更新时间', type: 'Datetime', readOnly: true },
    'Divide',
    { name: 'available', caption: '对外可用', type: 'Boolean' },
    { name: 'deleted', caption: '是否废弃', type: 'Boolean' },
    'Divide',
    { name: 'name', caption: '名称', type: 'Text', typeInfo: { max_length: 128 } },
    { name: 'judge_id', caption: '评测机标识符', type: 'Text', typeInfo: { max_length: 16 } },
    'Divide',
    { name: 'number_judge', caption: '支持的评测机数量', type: 'Number', readOnly: true }
  ]

})
</script>
{% endblock %}