{% extends "user/adminBasic.html" %}
{% load staticfiles %}

{% block title %}创建全局管理员{% endblock %}

{% block nav_admin %}active{% endblock %}

{% block sub_content %}
<div class="container row justify-content-sm-center">
  <div class="col-lg-8 col-md-10">
    <div id="userInfo"></div>
    <hr>
    <div id="userPassword"></div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
SATable.SimpleAjaxInfo({
  id: 'userInfo',
  title: '用户账号',
  getMethod: 'GET',
  updateMethod: 'PATCH',
  removeMethod: 'DELETE',
  getURL: '{% url 'admin-admin-detail' u %}',
  updateURL: '{% url 'admin-admin-detail' u %}',
  removeURL: '{% url 'admin-admin-detail' u %}',
  removeToURL: '{% url 'web-admin-all' %}',
  items: [
    { name: 'username', caption: '用户名', type: 'Text', readOnly: true },
    'Divide',
    { name: 'is_staff', caption: '管理员', type: 'Boolean' },
    { name: 'identities', caption: '权限', type: 'Select', typeInfo: {
      many: true,
      choices: [
          { text: '无', value: 'None' },
          { text: '超级管理员', value: 'ROOT' },
          { text: '用户管理员', value: 'USER_ADMIN' },
          { text: '机构管理员', value: 'ORG_ADMIN' },
      ]
    } },
    'Divide',
    { name: 'name', caption: '姓名', type: 'Text', typeInfo: { max_length: 150 } },
    { name: 'sex', caption: '性别', type: 'Select', typeInfo: {
      many: false,
      choices: [
          { text: '保密', value: 'SECRET' },
          { text: '男', value: 'MALE' },
          { text: '女', value: 'FEMALE' },
      ]
    } },
    'Divide',
    { name: 'email', caption: '邮箱', type: 'Text', typeInfo: { max_length: 128, email: true } },
    { name: 'phone', caption: '电话', type: 'Text', typeInfo: { max_length: 32 } },
    { name: 'github', caption: 'Github', type: 'Text', typeInfo: { max_length: 128 } },
    { name: 'qq', caption: 'QQ', type: 'Text', typeInfo: { max_length: 128 } },
    { name: 'wechat', caption: '微信', type: 'Text', typeInfo: { max_length: 128 } },
    { name: 'blog', caption: '博客', type: 'Text', typeInfo: { max_length: 128 } },
    'Divide',
    { name: 'available', caption: '可用', type: 'Boolean' },
    'Divide',
    { name: 'last_login', caption: '最后登录', type: 'Datetime', readOnly: true },
    { name: 'ip', caption: '最后登录IP', type: 'Text', readOnly: true },
    'Divide',
    { name: 'creator', caption: '创建者', type: 'Text', readOnly: true },
    { name: 'create_time', caption: '创建时间', type: 'Datetime', readOnly: true },
    { name: 'updater', caption: '最后更新者', type: 'Text', readOnly: true },
    { name: 'update_time', caption: '最后更新时间', type: 'Datetime', readOnly: true },
  ]
})

SATable.SimpleAjaxInfo({
  id: 'userPassword',
  title: '修改密码',
  getMethod: 'GET',
  updateMethod: 'PATCH',
  getURL: '{% url 'admin-admin-detail' u %}',
  updateURL: '{% url 'admin-admin-detail' u %}',
  items: [
    { name: 'password', caption: '新密码', type: 'Text', typeInfo: { writeOnly: true, password: true, max_length: 128 } },
  ]
})
</script>
{% endblock %}
