{% extends "problem/metaProblem/problem/adminBasic.html" %}
{% load staticfiles %}

{% block title %}题元内题目信息{% endblock %}

{% block nav_problem_info %}active{% endblock %}

{% block sub_content2 %}
<div class="container row justify-content-sm-center container col-lg-8 col-md-7">
  <div class="col-12">
    <div id="problem"></div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
var descriptions = [{ text: '不使用描述', value: null }]
var samples = [{ text: '不使用样例', value: null }]

function getOptionsDescription(ret) {
  var results = ret.results
  for (var i in results) {
    var obj = results[i]
    var text = obj.id + ': ' + obj.title
    var value = obj.id
    descriptions.push({ text: text, value: value })
  }
  return descriptions
}

function getOptionsSample(ret) {
  var results = ret.results
  for (var i in results) {
    var obj = results[i]
    var text = obj.id + ': ' + obj.title
    var value = obj.id
    samples.push({ text: text, value: value })
  }
  return samples
}

SATable.SimpleAjaxInfo({
  id: 'problem',
  title: '题元内题目',
  getMethod: 'GET',
  updateMethod: 'PUT',
  removeMethod: 'DELETE',
  getURL: '{% url 'admin-meta-problems-info-detail' meta_problem.id problem.id %}',
  updateURL: '{% url 'admin-meta-problems-info-detail' meta_problem.id problem.id %}',
  removeURL: '{% url 'admin-meta-problems-info-detail' meta_problem.id problem.id %}',
  removeToURL: '{% url 'problem_meta_problem' meta_problem.id %}',
  items: [
    { name: 'id', caption: '题目ID', type: 'Number', readOnly: true },
    'Divide',
    { name: 'creator', caption: '创建者', type: 'Text', readOnly: true },
    { name: 'create_time', caption: '创建时间', type: 'Datetime', readOnly: true },
    { name: 'updater', caption: '更新者', type: 'Text', readOnly: true },
    { name: 'update_time', caption: '更新时间', type: 'Datetime', readOnly: true },
    'Divide',
    { name: 'available', caption: '对外可用', type: 'Boolean' },
    { name: 'deleted', caption: '是否废弃', type: 'Boolean' },
    'Divide',
    { name: 'title', caption: '标题', type: 'Text', typeInfo: { max_length: 128 } },
    { name: 'introduction', caption: '简介', type: 'Text', typeInfo: { article: true, max_length: 128 } },
    'Divide',
    { name: 'source', caption: '来源', type: 'Text', typeInfo: { max_length: 256 } },
    { name: 'author', caption: '作者', type: 'Text', typeInfo: { max_length: 64 } },
    'Divide',
    { name: 'is_special_judge', caption: '特殊评测', type: 'Boolean', readOnly: true },
    'Divide',
    { name: 'description_id', caption: '题意描述ID', type: 'Select', typeInfo: {
      ajax: true,
      ajaxInfo: {
        type: 'GET',
        url: '{% url 'admin-meta-descriptions-list' meta_problem.id %}',
        dataType: 'json'
      },
      responseHandler: SATable.DRF.keepRequestValue,
      dataGenerator: getOptionsSample
    } },
    { name: 'description', caption: '题意描述', type: 'Item', typeInfo: { field: 'content', type: 'Text', typeInfo: { markdowFn: true }, readOnly: true }, readOnly: true },
    'Divide',
    { name: 'sample_id', caption: '样例述ID', type: 'Select', typeInfo: {
      ajax: true,
      ajaxInfo: {
        type: 'GET',
        url: '{% url 'admin-meta-samples-list' meta_problem.id %}',
        dataType: 'json'
      },
      responseHandler: SATable.DRF.keepRequestValue,
      dataGenerator: getOptionsDescription
    } },
    { name: 'sample', caption: '样例描述', type: 'Item', typeInfo: { field: 'content', type: 'Text', typeInfo: { markdown: true }, readOnly: true }, readOnly: true },
    'Divide',
    { name: 'number_test_data', caption: '选用测试数据数量', type: 'Number', readOnly: true },
    { name: 'number_limit', caption: '编程限制数量', type: 'Number', readOnly: true },
    { name: 'number_invalid_word', caption: '禁用单词数量', type: 'Number', readOnly: true },
  ]

})
</script>
{% endblock %}