{% extends "organization/adminBasic.html" %}
{% load staticfiles %}

{% block title %}所有机构{% endblock %}

{% block nav_org %}active{% endblock %}

{% block sub_content %}
<div class="container">
  <div class="col-xs-12">
    <div id="allOrg"></div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
SATable.DRFTable({
  id: 'allOrg',
  title: '所有机构',
  url: "{% url 'admin-organization-list' %}",
  search: true,
  filters: [
    { name: 'creator', type: 'text', placeholder: '请输入创建者用户名', caption: '创建者' },
    { name: 'updater', type: 'text', placeholder: '请输入更新者用户名', caption: '更新者' }
  ],
  columns: [
    { name: 'id', caption: 'ID', sort: true, ordering: 1, type: 'Link', typeInfo: { base_url: '{% url 'web-orgs' %}', key: 'id' } },
    { name: 'name', caption: '名称', sort: true, type: 'Link', typeInfo: { base_url: '{% url 'web-orgs' %}', key: 'id' } },
    { name: 'caption', caption: '显示名称', sort: true, type: 'Link', typeInfo: { base_url: '{% url 'web-orgs' %}', key: 'id' } },
    { name: 'parent', caption: '上级机构', sort: true, type: 'Link', typeInfo: { base_url: '{% url 'web-orgs' %}', key: 'parent' } },
    { name: 'create_time', caption: '注册时间', sort: true, type: 'Datetime' },
    { name: 'update_time', caption: '最后更新', sort: true, type: 'Datetime' },
    { name: "available", caption: "可用", type: 'Boolean' },
  ],
  createURL: '{% url 'web-orgs-create' %}'
})

</script>
{% endblock %}