{% extends "problem/adminBasic.html" %}
{% load staticfiles %}

{% block title %}创建全新题目{% endblock %}

{% block nav_meta_problem %}active{% endblock %}

{% block sub_content %}
<div class="container row justify-content-sm-center">
  <div class="col-lg-8 col-md-10">
    <form id="problemCreateForm" method="POST" onsubmit="return false;">
      <fieldset>
        {% csrf_token %}
        <div class="form-group row">
          <label class="col-lg-3 col-md-4 control-label">对外可用</label>
          <div class="col-lg-9 col-md-8">
            <input name="available" class="form-control" type="checkbox">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-3 col-md-4 control-label">标题</label>
          <div class="col-lg-9 col-md-8">
            <input maxlength="128" name="title" class="form-control" type="text">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-3 col-md-4 control-label">简介</label>
          <div class="col-lg-9 col-md-8">
            <textarea maxlength="512" name="introduction" class="form-control"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-3 col-md-4 control-label">来源</label>
          <div class="col-lg-9 col-md-8">
            <input maxlength="256" name="source" class="form-control" type="text">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-3 col-md-4 control-label">作者</label>
          <div class="col-lg-9 col-md-8">
            <input maxlength="64" name="author" class="form-control" type="text">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-3 col-md-4 control-label">描述</label>
          <div class="col-lg-9 col-md-8">
            <textarea name="description" class="form-control"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-3 col-md-4 control-label">样例</label>
          <div class="col-lg-9 col-md-8">
            <textarea name="sample" class="form-control"></textarea>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-3 col-md-4 control-label">限制</label>
          <div id="div-limits" class="col-lg-9 col-md-8">
            <div class="input-group-btn">
              <button type="button" class="btn btn-success" id="limit-add">添加限制</button>
            </div>
            <div id="limit-form" class="col-xs-12">
              <hr>
              <div class="form-group row">
                <label class="col-lg-3 col-md-4 control-label">编程环境</label>
                <div class="col-lg-9 col-md-8">
                  <select name="environment" class="form-control env">
                  {% for i in envs %}
                    <option value="{{ i.id }}">{{ i.id }}: {{ i.name }}</option>
                  {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-md-4 control-label">时间限制</label>
                <div class="col-lg-9 col-md-8">
                  <input name="time_limit" class="form-control time-limit" type="number">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-md-4 control-label">内存限制</label>
                <div class="col-lg-9 col-md-8">
                  <input name="memory_limit" class="form-control memory-limit" type="number">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-md-4 control-label">长度限制</label>
                <div class="col-lg-9 col-md-8">
                  <input name="length_limit" class="form-control length-limit" type="number">
                </div>
              </div>
              <div class="input-group-btn">
                <button type="button" class="btn btn-danger limit-delete">删除此限制</button>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-lg-3 col-md-4 control-label">测试数据</label>
          <div id="div-test" class="col-lg-9 col-md-8">
            <div class="input-group-btn">
              <button type="button" class="btn btn-success" id="test-add">添加测试数据</button>
            </div>
            <div id="test-form" class="col-xs-12">
              <hr>
              <div class="form-group row">
                <label class="col-lg-3 col-md-4 control-label">标题</label>
                <div class="col-lg-9 col-md-8">
                  <input maxlength="128" name="testTitle" class="form-control title" type="text">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-md-4 control-label">简介</label>
                <div class="col-lg-9 col-md-8">
                  <textarea maxlength="512" name="testIntroduction" class="form-control introduction"></textarea>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-md-4 control-label">测试输入</label>
                <div class="col-lg-9 col-md-8">
                  <textarea name="test_in" class="form-control test-in"></textarea>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-md-4 control-label">测试输出</label>
                <div class="col-lg-9 col-md-8">
                  <textarea name="test_out" class="form-control test-out"></textarea>
                </div>
              </div>
              <div class="input-group-btn">
                <button type="button" class="btn btn-danger test-delete">删除此数据</button>
              </div>
            </div>
          </div>
        </div>
        <br/>
        <div class="input-group-btn">
          <button id="btn-submit" type="button" class="btn btn-primary" title="保存题元信息">保 存</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
var limitForm = null
var testForm = null

$('#limit-add').click(function() {
  $('#div-limits').append($(limitForm).clone(true))
})
$('.limit-delete').click(function() {
  $(this).parent().parent().remove()
})
limitForm = $('#limit-form').clone(true)
$('#limit-form').remove()


$('#test-add').click(function() {
  $('#div-test').append($(testForm).clone(true))
})
$('.test-delete').click(function() {
  $(this).parent().parent().remove()
})
testForm = $('#test-form').clone(true)
$('#test-form').remove()

$('#btn-submit').click(function() {
  var form = $("#problemCreateForm")
  var formData = getFormData(form)

  var data = {
    available: formData.available,
    title: formData.title,
    introduction: formData.introduction,
    source: formData.source,
    author: formData.author,
    description: formData.description,
    sample: formData.sample,
    limits: [],
    test_data: []
  }

  $('#div-limits').children('.col-xs-12').each(function() {
    var env = $(this).find('.env').val()
    var time_limit = $(this).find('.time-limit').val()
    var memory_limit = $(this).find('.memory-limit').val()
    var length_limit = $(this).find('.length-limit').val()
    data.limits.push({
      environment: env,
      time_limit: time_limit,
      memory_limit: memory_limit,
      length_limit: length_limit
    })
  })

  $('#div-test').children('.col-xs-12').each(function() {
    var title = $(this).find('.title').val()
    var introduction = $(this).find('.introduction').val()
    var test_in = $(this).find('.test-in').val()
    var test_out = $(this).find('.test-out').val()
    data.test_data.push({
      title: title,
      introduction: introduction,
      test_in: test_in,
      test_out: test_out
    })
  })

  $.ajax({
    type: 'POST',
    url: '{% url 'admin-problems-admin-list' %}',
    data: {dataStr: JSON.stringify(data)},
    traditional: true,
    dataType: 'json',
    success: function(ret) {
      location.href = "{% url 'problem_problem' %}" + ret.id
    },
    error: function (info, message, xx) {
      test_output(info)
    }
  })

  return false
})
</script>
{% endblock %}