{% extends "problem/metaProblem/adminBasic.html" %}
{% load staticfiles %}

{% block title %}样例集{% endblock %}

{% block nav_sample %}active{% endblock %}

{% block sub_content2 %}
<div class="container col-lg-8 col-md-7">
  <div class="col-xs-12">
    <div id="metaSample"></div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
SATable.DRFTable({
  id: 'metaSample',
  title: '样例',
  url: '{% url 'admin-meta-samples-list' meta_problem.id %}',
  search: true,
  filters: [
    { name: 'creator', type: 'text', placeholder: '请输入创建者用户名', caption: '创建者' },
    { name: 'updater', type: 'text', placeholder: '请输入更新者用户名', caption: '更新者' }
  ],
  columns: [
    { name: 'id', caption: 'ID', sort: true, ordering: 1, type: 'Link', typeInfo: { base_url: '{% url 'problem_meta_sample' meta_problem.id %}', key: 'id' } },
    { name: 'title', caption: '标题', sort: true, type: 'Link', typeInfo: { base_url: '{% url 'problem_meta_sample' meta_problem.id %}', key: 'id' } },
    { name: "introduction", caption: "简介", type: 'Text' },
    { name: 'update_time', caption: '更新时间', sort: true, type: 'Datetime' },
    { name: "available", caption: "可用", type: 'Boolean' },
  ],
  createURL: '{% url 'problem_meta_sample_create' meta_problem.id %}'
})
</script>
{% endblock %}