{% extends "client/adminBasic.html" %}
{% load staticfiles %}

{% block title %}用户端账户信息{% endblock %}

{% block nav_client_user %}active{% endblock %}

{% block sub_content %}
<div class="container row justify-content-sm-center">
  <div class="col-lg-8 col-md-10">
    <div id="userInfo"></div>
    <hr>
    <div id="userPassword"></div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
SATable.SimpleAjaxInfo({
  id: 'userInfo',
  title: '用户端账号',
  getMethod: 'GET',
  updateMethod: 'PATCH',
  removeMethod: 'DELETE',
  getURL: '{% url 'admin-client-users-detail' clientUser.username %}',
  updateURL: '{% url 'admin-client-users-detail' clientUser.username %}',
  removeURL: '{% url 'admin-client-users-detail' clientUser.username %}',
  removeToURL: '{% url 'client_users' %}',
  items: [
    { name: 'username', caption: '用户端账户名', type: 'Text', readOnly: true },
    'Divide',
    { name: 'last_name', caption: '姓', type: 'Text', typeInfo: { max_length: 30 } },
    { name: 'first_name', caption: '名', type: 'Text', typeInfo: { max_length: 30 } },
    { name: 'email', caption: '邮箱', type: 'Text', typeInfo: { email: true } },
    'Divide',
    { name: 'is_active', caption: '可用', type: 'Boolean' },
    'Divide',
    { name: 'last_login', caption: '最后登录', type: 'Datetime', readOnly: true },
  ]
})

SATable.SimpleAjaxInfo({
  id: 'userPassword',
  title: '修改密码',
  getMethod: 'GET',
  updateMethod: 'PATCH',
  getURL: '{% url 'admin-client-users-detail' clientUser.username %}',
  updateURL: '{% url 'admin-client-users-detail' clientUser.username %}',
  items: [
    { name: 'password', caption: '新密码', type: 'Text', typeInfo: { password: true, max_length: 128 } },
  ]
})
</script>
{% endblock %}
