{% extends "client/client/adminBasic.html" %}
{% load staticfiles %}

{% block title %}可访问题库信息{% endblock %}

{% block nav_categories %}active{% endblock %}

{% block sub_content2 %}
<div class="container row col-lg-8 col-md-7">
  <div class="col-12">
    <div id="relation"></div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
SATable.SimpleAjaxInfo({
  id: 'relation',
  title: '用户端',
  getMethod: 'GET',
  updateMethod: 'PUT',
  removeMethod: 'DELETE',
  getURL: '{% url 'admin-clients-categories-detail' client.id relation.id %}',
  updateURL: '{% url 'admin-clients-categories-detail' client.id relation.id %}',
  removeURL: '{% url 'admin-clients-categories-detail' client.id relation.id %}',
  removeToURL: '{% url 'client_categories' client.id %}',
  items: [
    { name: 'id', caption: '关系ID', type: 'Number', readOnly: true },
    'Divide',
    { name: 'creator', caption: '创建者', type: 'Text', readOnly: true },
    { name: 'create_time', caption: '创建时间', type: 'Datetime', readOnly: true },
    { name: 'updater', caption: '更新者', type: 'Text', readOnly: true },
    { name: 'update_time', caption: '更新时间', type: 'Datetime', readOnly: true },
    'Divide',
    { name: 'available', caption: '对外可用', type: 'Boolean' },
    { name: 'deleted', caption: '是否废弃', type: 'Boolean' },

  ]

})
</script>
{% endblock %}